<% if current_user %>

<!--%= line_chart @proyects.group(:name).count(:created_at) %>-->
    <%= pie_chart Activity.group("activities.status").joins(work: [{ report: :project }]).sum(:status) %>
  
<div class="jumbotron" style="margin:auto;">
  <h1>Bienvenido</h1>
  <p>Mostrando proyectos por coordinador</p>
  

 <% if current_user.typeuser.to_i == 1 || current_user.typeuser.to_i == 2 %>
 <%= form_tag projects_path, :method => "get" do %>
<div class="input-group col-md-4" style="position: absolute; padding: 5px;float:right; top: 470px; left: 690px">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nombre del Cordinador"%>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar!</button>
      </span>
    </div>
    <% end %>

  <% @cordinator.each do |c|%>
  <ol class="breadcrumb" style="background-color:#2E2E2E;color:#fff;">
  <li style="width:95%;margin:auto;"><%= c.name  %><div style ="float:right;width:2em;"><%= link_to new_project_path(:id_cordi => c.id), {:title=>"Nuevo Proyecto"},{} do %><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon glyphicon-folder-open"></i></div>	
     <%end%></li>

</ol>
  <table class="table table-hover">
<thead>
    <tr>
      <th>Nombre</th>
      <th>Objetivo</th>
      <th>Tiempo</th>
      <th>Estado</th>
      <th>Fase</th>
      <th>Responsable</th>
    </tr>
  </thead>  
 	<% c.projects.each do |proje| %>


  <tbody>
	 <td><%= proje.name %></td>
	 <td><%= proje.objetive %></td>
	 <td><%= proje.time %></td>
	 <td><%= proje.status %></td>
	 <td><%= proje.fase %></td>
	 <td><%= proje.cordinators %></td>
     <td style="width:3em;"><%=  link_to p, method: :delete, data: { confirm: 'Estas seguro?' }  do%><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon-remove"></i>
     <%end%></td>
     
<% end%>
</tbody>
</table>


<% end %>
 <%  else %>
 
<% @cordinator.each do |c|%>
  <ol class="breadcrumb" style="background-color:#2E2E2E;text-color:#000;">
  <li style="width:95%;margin:auto;"><%= c.name  %><div style ="float:right;width:2em;"><%= link_to :controller => :projects,:action => :new do %><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon glyphicon-folder-open"></i></div>  
     <%end%></li>
</ol>
  <table class="table table-hover">
<thead>
    <tr>
      <th>Nombre</th>
      <th>Objetivo</th>
      <th>Tiempo</th>
      <th>Estado</th>
      <th>Fase</th>
      <th>Responsable</th>
    </tr>
  </thead>  
  <% c.projects.each do |proje| %>


  <tbody>
   <td><%= proje.name %></td>
   <td><%= proje.objetive %></td>
   <td><%= proje.time %></td>
   <td><%= proje.status %></td>
   <td><%= proje.fase %></td>
   <td><%= proje.cordinators %></td>
   <td style="width:3em;"><%= link_to :controller => :activities,:action => :new,:id_tarea => c.id do %><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon-pushpin"></i>
       <%end%></td>
     
<% end%>
</tbody>
</table>
<% end%>



<% end %>
<%= paginate(@cordinator) %>
<% else %>

<%= render 'new' %>

<% end %>
