
<% if current_user %>

<h1 style="float:left">Mostrando las Tareas para <%= current_user.cordinator.name %> 
</h1>

<br><br><br>
<%= form_tag works_path, :method => "get" do %>
<div class="input-group col-md-3" style="position: absolute; padding: 5px;float:right; top: 27px; left: 845px">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nombre de la Tarea"%>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar!</button>
      </span>
    </div>
    <% end %><hr>
    

<% c = current_user.cordinator %>
<% c.projects.each do |p| %>

<% p.reports.each do |m| %>
<table class = "table table-hover" >
<thead>
    <tr>
      <th style="max-width:30px;">Nombre</th>
      <th style="max-width:30px;">Objetivo</th>
      <th style="max-width:30px;">Descripción</th>
      <th style="max-width:40px;">Fecha Inicio</th>
      <th style="max-width:30px;">Fecha Fin</th>
      <th style="max-width:30px;">Actividades</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  
  <ol class="breadcrumb" style="background-color:#2E2E2E;">
  <li style="width:90%;margin:auto;"><a href="#"><%= m.name %><div style ="float:right;width:2em;"><%= link_to new_work_path(:id_report=>  m.id,:name=>m.name),{:title=>"Nueva Tarea"} do %><i class="btn btn-default btn-sm glyphicon glyphicon-ok"></i></div>  
     <%end%></a></li>
</ol>
<% m.works.each do |n| %>
<tbody>
  <tr>
        <td style="max-width:30px;overflow:hidden;"><%= n.name %></td>
        <td style="max-width:30px;overflow:hidden;"><%= n.objetive %></td>
        <td style="max-width:30px;overflow:hidden;"><%= n.descripcion %></td>
        <td style="max-width:30px;overflow:hidden;"><%= n.fecha_inicio %></td>
        <td style="max-width:30px;overflow:hidden;"><%= n.fecha_fin %></td>
        <td style="max-width:30px;overflow:hidden;"><% n.activities.each do |q| %><%= link_to q.name, q %><br><%end %></td>
        <td style="max-width:30px;"><%= link_to new_activity_path(:id_tarea => n.id),{:title=> "Asignar actividad"} do %><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon-pushpin"></i>
        <%end%>
        <%= link_to work_path(n),{:title=> "Editar Tarea"} do %><i class="btn btn-default btn-sm glyphicon glyphicon-pencil"></i>
        <%end%>
        <%= link_to n, method: :delete, data: { confirm: 'Estas seguro?'},:style=>"",:title=>"Eliminar Tarea" do%><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon-remove"></i>
        <%end%>
        </td>
 </tr>
</tbody>
<%end%>


<%end%>
</table>
<%end%>
  

<%=paginate(@work)%>

<br>

  <% else %>
<h1>Acceso denegado :)</h1>
<%end%>
