
<% if current_user %>
<div class="jumbotron" style="margin:auto;">
<h2 style="float:left">Mostrando las Tareas para <%= current_user.cordinator.name %> 
</h2>

<%= form_tag works_path, :method => "get" do %>
<div class="input-group col-md-4" style="padding: 5px; float:right;">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nombre de la Tarea",:autofocus=>"true"%>
    <span class="input-group-btn">
        <%= submit_tag "Buscar" , class: "btn btn-default" , name: nil %>
      </span>
    </div>
    <% end %>
    
<br><br><br><br>
<table class = "table table-hover" >
<thead>
    <tr>
      <th class="col-md-2">Nombre</th>
      <th class="col-md-2">Reporte</th>
      <th class="col-md-2">Fecha Inicio</th>
      <th class="col-md-2">Fecha Fin</th>
      <th class="col-md-2">Actividades</th>
      <th class="col-md-2"></th>
    </tr>
  </thead>

<% @work.each do |n| %>


<tbody>
  <tr>
        <td style="max-width:30px;overflow:hidden;"><%= link_to n.name,n %></td>
        <td style="max-width:30px;overflow:hidden;"><%= link_to n.report.name,n.report %></td>
        <td style="max-width:30px;overflow:hidden;"><%= n.fecha_inicio %></td>
        <td style="max-width:30px;overflow:hidden;"><%= n.fecha_fin %></td>
        <% if n.activities.present? %>
        <td style="max-width:30px;overflow:hidden;"><% n.activities.each do |q| %><%= link_to q.name, q %><br><%end %></td>
        <% else %>
        <td style="max-width:30px;overflow:hidden;">No existe actividad</td>
        <% end %>
        <td class="col-md-2">
        <%= link_to "",new_work_path(:id_report => n.report.id,:name=>n.report.name),{:title=> "Asignar tarea",:class=>"glyphicon glyphicon-file btn",:style=>"margin:2px 4px;padding:0;"}  %>
        <%= link_to "",new_activity_path(:id_tarea=>n.id,:name=>n.name),{:title=> "Asignar actividad",:class=>"glyphicon glyphicon-plus btn",:style=>"margin:2px 4px;padding:0;"}  %>
        <%= link_to "", edit_work_path(n,:id_report => n.report.id,:name=>n.report.name),{:title=> "Editar Tarea",:class=>"btn glyphicon glyphicon-pencil",:style=>"margin:2px 4px;padding:0;"}  %>
        <%= link_to "",n, method: :delete, data: { confirm: 'Estas seguro?'},:style=>"",:title=>"Eliminar Tarea",:class=>"btn glyphicon glyphicon-remove",:style=>"margin:2px 4px;padding:0;" %>
        </td>
 </tr>
</tbody>
<%end%>


</table>
  

<%=paginate(@work)%>

<br>

  <% else %>
<h1>Acceso denegado :)</h1>
<%end%>
