<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Objetive:</strong>
  <%= @work.objetive %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @work.descripcion %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @work.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @work.fecha_fin %>
</p>

<p>
  <strong>Report:</strong>
  <%= @work.report_id %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
