

<% if current_user %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password,  class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>

  <% case current_user.typeuser.to_i  %>
  <% when 1 %>

  <div class="field">
    <%= f.label :typeuser %><br>
    <%= f.select :typeuser, [['Supremo', 1], ['Jefe de Coordinador', 2], ['Coordinador', 3]], :prompt => "Tipo usuario"%>
  </div>
  <% when 2 %>
  <div class="field">
    <%= f.label :typeuser %><br>
    <%= f.select :typeuser, [['Coordinador', 3]], :prompt => "Tipo usuario"%>
  </div>  
  <% when 3 %>
  <div class="field">
    <%= f.label :typeuser %><br>
    <%= f.select :typeuser, [['Coordinador', 3]], :prompt => "Tipo usuario"%>
  </div>
  <% end %> 
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>  
<% end %>  
