
<% c = current_user %>

 <% if current_user.typeuser.to_i == 1 || current_user.typeuser.to_i == 2 %>
<div class="jumbotron" style="margin:auto;">
  <h2>Mostrando Proyectos</h2>
  <p>para </p>

 <%= form_tag projects_path, :method => "get" do %>
<div class="input-group col-md-4" style="position: absolute; padding: 5px;float:right; top: 5em; left: 690px">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nombre del proyecto",:autofocus=>"true"%>
    <span class="input-group-btn">
        <%= submit_tag "Buscar" , class: "btn btn-default" , name: nil %>
      </span>
    </div>
    <% end %>

  <% @cor.each do |c|%>
  <ol class="breadcrumb" style="background-color:#2E2E2E;color:#fff;">
  <li style="width:95%;margin:auto;"><%= c.name  %><div style ="float:right;width:2em;"><%= link_to new_project_path(:id_cordi => c.id), {:title=>"Nuevo Proyecto"},{} do %><i class="btn btn-primary btn-sm glyphicon glyphicon glyphicon glyphicon-folder-open"></i></div>  
     <%end%></li>

</ol>
  <table class="table table-hover">
<thead>
    <tr>
      <th>Nombre</th>
      <th>Objetivo</th>
      <th>Tiempo</th>
      <th>Estado</th>
      <th>Fase</th>
      <th>Responsable</th>
    </tr>
  </thead>  

  <% c.projects.each do |proje| %>


  <tbody>
   <td><%= link_to proje.name, proje %></td>
   <td><%= proje.objetive %></td>
   <td><%= proje.time %></td>
   <td><% if proje.status == 1%>
  En espera
  <% end %>
  <% if proje.status == 2 %>
  Ejecut치ndose
  <% end %>
  <% if proje.status == 3 %>
  Finalizado
  <% end %></td>
   <td><% if proje.fase == 1%>
  Rec. datos
  <% end %>
  <% if proje.fase == 2 %>
  Planificaci칩n
  <% end %>
  <% if proje.fase == 3 %>
  Ejecuci칩n
  <% end %>
  <% if proje.fase == 4 %>
  Implementaci칩n
  <% end %></td>
   <td><%= proje.cordinators %></td>
   <td class="col-md-2">

   <%= link_to "",new_report_path(:id_project=>proje.id,:name=>proje.name),class: "btn glyphicon glyphicon-plus",:style=>"float:left",:title=>"Asignar Reporte"%>
   <%=  link_to "",edit_project_path(proje,:id_cordi=>c.id) , class: "btn btn-sm glyphicon glyphicon glyphicon-pencil",:style=>"float:left",:title=>"Editar Proyecto" %>
    <%=  link_to "",project_path(proje), :method=>"delete", data: { confirm: 'Estas seguro?' }  , class: "btn  glyphicon glyphicon glyphicon-remove",:style=>"float:left",:title=>"Eliminar Poryecto" %>
     </td>
     
<% end%>
</tbody>
</table>


<% end %>
 <%  else %>
 
<h1>Acceso Denegado :)</h1>
<% end %>
<%= paginate(@cor) %>


<br>
