 
<div class="jumbotron">
<br>
<div class="col-md-12">
  <p> <%= @project.name %></p>
</div>
<div class="col-md-12">
    <p>Objetivo <%= @project.objetive %></p>
</div>
<div class="col-md-3">
    <p>Duración 
  <%= @project.time %> Meses</p>
</div>
<div class="col-md-3">
    <p>Estado:
  <% case @project.status.to_i %>
  <% when 1 %>
  En espera
  <% when 2 %>
  Ejecutándose
  <% when 3 %>
  Finalizado
  <% end %>
  </p>
</div>
<div class="col-md-3">
    <p>Fase:
  <% case @project.fase.to_i %>
  <% when 1 %>
  Planeamiento 
  <% when 2 %>
  Diseño 
  <% when 3 %>
  Ejecutándose
  <% when 4 %>
  Terminado
  <% end %>
</div>
<div class="col-md-3">
    <p>Coordinador <%=  %></p>
    </div>
  <table class="table">
<thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Tarea</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @project.reports.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.desc %></td>
        <td><%= project.date %></td>
        <td>
        <% project.works.each do |p| %>
        <%=  link_to p.name,p %><br>
        <%end%>
        </td>
        <td><%= link_to '', edit_report_path(project,:id_project=>project.project_id),{:title=> "Editar Reporte",class: "btn glyphicon glyphicon-pencil"} %></td>
        <td><%= link_to '', project, method: :delete, data: { confirm: 'Estas seguro?' } ,:style=>"",:title=>"Eliminar Reporte",class: "btn glyphicon glyphicon-remove"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="javascript:history.back()" class="btn btn-primary btn-lg" >Atrás</a>
<%= link_to 'Editar', edit_project_path(@project,:id_cordi=>@project.cordinator_id),class: "btn btn-primary btn-lg" %> 
<br>
<br>
<%=link_to image_tag('icon.png', :style => "width:5%;", :alt => 'Descargar Reporte PDF'), :controller=>"projects",:action=>"report",:format=>"pdf",:id=>@project.id%>

</div>