
<div class="jumbotron">
<br>
<div class="col-md-12">
  <p> <%= @project.name %></p>
</div>
<div class="col-md-12">
    <p>Objetivo <%= @project.objetive %></p>
</div>
<div class="col-md-3">
    <p>Duración 
  <%= @project.time %> Meses</p>
</div>
<div class="col-md-3">
    <p>Estado:
  <%= @project.status %></p>
</div>
<div class="col-md-3">
    <p>Fase:
  <%= @project.fase %></p>
</div>
<div class="col-md-3">
    <p>Coordinador <%=  %></p>
    </div>
  <table class="table">
<thead>
    <tr>
      <th>Name</th>
      <th>Objetive</th>
      <th>Coordinador</th>
      <th>Time</th>
      <th>Status</th>
      <th>Fase</th>
      <th>Reportes</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @project.reports.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <% project.works.each do |p| %>
        <td><%=  p.name %></td>
        <%end%>
        <td><%= link_to 'Ver', project %></td>
        <td><%= link_to 'Actualizar', edit_project_path(project) %></td>
        <td><%= link_to 'Eliminar', project, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="javascript:history.back()" class="btn btn-primary btn-lg" >Atrás</a>
<%= link_to 'Editar', edit_project_path(@project,:id_cordi=>@project.cordinator_id),class: "btn btn-primary btn-lg" %> 

</div>