<% if current_user %>
<%= form_for(@cordinator) do |f| %>
  <% if @cordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cordinator.errors.count, "error") %> prohibited this cordinator from being saved:</h2>

      <ul>
      <% @cordinator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :facultad %><br>
    <%= f.collection_select :facultad_id, Facultad.all, :id, :name, :prompt => "Facultad" %>
  </div>
  <div class="field">
    <%= f.label :Proyecto %><br>
    <%= f.collection_select :project_id, Project.all, :id, :name, :prompt => "Facultad" %>
  </div>
  <div class="field">
    <%= f.text_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

