<% if current_user %>
<%= form_for(@cordinator) do |f| %>
  <% if @cordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cordinator.errors.count, "error") %> prohibited this cordinator from being saved:</h2>

      <ul>
      <% @cordinator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none">
    <%= f.label :nombre ,:style=>"width:19%;float:left;margin:0.3em ;"%>
    <%= f.text_field :name,:class => 'form-control nombre' ,:style=>";float:left;width:60%", :value=> params[:name]  %>
  </div>
  <div class="field">
    <%= f.label :Dirección,:style=>"width:19%;float:left;margin:0.3em ;" %>
    <%= f.text_field :address,:class => 'form-control dire' ,:style=>";float:left;width:60%"  %>
  </div><br><br>
  <div class="field">
    <%= f.label :Teléfono ,:style=>"width:19%;float:left;margin:0.3em ;"%>
    <%= f.text_field :phone, :class => 'form-control tele' ,:style=>";float:left;width:60%" %>
  </div><br><br>
  <div class="field">
    <%= f.label :Facultad,:style=>"width:19%;float:left;margin:0.3em ;" %>
    <%= f.collection_select :facultad_id, Facultad.all, :id, :name, {:prompt => "Facultad"},{:class=>"form-control",:style=>";float:left;width:60%"} %>
  </div>
  <div class="field" style="display:none">
    <%= f.text_field :user_id, :value => current_user.id %>
  </div><br><br><br><br>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn-lg",style: "margin:0 5em;", :onclick => "return valida_cordina()" %>
  </div>
<% end %>
<% end %>


