<%= form_for @activity do |f| %>

  <%= f.label :Nombre ,:style=>"width:11%;float:left;margin:0.3em ;"%>
  <%= f.text_field :name ,:class=> "form-control nombre",:style=>"float:left;width:30%",:autofocus=>"true" %>
  

   <div class="field">
    <%= f.label :Estado,:style=>"width:11%;float:left;margin:0.3em ;" %>
    <%= f.select :status,([['En proceso', 2], ['Finalizado', 3], ]),{}, {:class=> "form-control",:style=>"float:left;width:30%" }%>
  </div><br><br><br>

<div class="field">
    <%= f.label :Descrición,:style=>"width:11%;float:left;margin:0.3em ;", class: "descripcion"  %>
    <%= f.text_area :description ,:class=> "form-control desc",:style=>"float:left;width:72%"%>
  </div>
  <br><br><br>
 <hr>

 <div class="actions" >
    <%= f.submit "Insertar",class: "btn btn-primary btn-lg boton",style: "margin:0 5em;",:onclick => "return validacionact()"%>
  </div><br> 

 <div class="field" style="display:none;">
    <%= f.label :work_id %>
    <%= f.number_field :work_id ,:value => params[:id_tarea]%>
  </div>
<script type="text/javascript">
$( "input" ).keyup(function() {
 if (($('.nombre').val().length > 4) && ($('.desc').val().length > 11)) {
    $('.error').style.display = 'none';
  }
});</script>


<% end %>
