
<% if current_user %>
<h1 style="float:left">Mostrando los reportes para <%= current_user.cordinator.name %>
</h1> 
<%= form_tag reports_path, :method => "get" do %>
<div class="input-group" style="padding: 5px;">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Nombre del reporte"%>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Buscar!</button>
      </span>
    </div>
    <% end %>


<% c = current_user.cordinator %>
     <% c.projects.each do |m| %>
<table class="table table-hover"><br><br><br><br>
<thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <ol class="breadcrumb" style="background-color:#2E2E2E;">
  <li style="width:95%;margin:auto;"><a href="#"><%= m.name %><div style ="float:right;width:2em;"><%= link_to new_report_path(:id_project=>  m.id,:name=>m.name),{:title=>"Nuevo Reporte"},{} do %><i class="btn btn-default btn-sm glyphicon glyphicon-file"></i></div>  
     <%end%></a></li>
</ol>
<% m.reports.each do |f| %>
      <tr>
        <td><%= f.name %></td>
        <td><%= f.date %></td>
        <td><%= f.desc %></td>

        <td>
        <%= link_to new_work_path(:id_report => f.id),{:title=> "Asignar actividad"} do %><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon-pushpin"></i>
        <%end%>
        <%= link_to edit_report_path(f),{:title=> "Editar Reporte"} do %><i class="btn btn-default btn-sm glyphicon glyphicon-pencil"></i>
        <%end%>
        <%= link_to f, method: :delete, data: { confirm: 'Estas seguro?'},:style=>"",:title=>"Eliminar Reporte" do%><i class="btn btn-default btn-sm glyphicon glyphicon glyphicon-remove"></i>
        <%end%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<%= paginate(@reports) %>
<br>

<% else %>
<h1>Acceso denegado :)</h1>
<% end %>
